/* QListView viewport */
QListView
{
    border: 1px solid #b9b9b9;
    background-color: #fafafa;
    outline: none;
    color: #505050;
}

/* QListView item selection */
QListView::item:selected
{
    padding: -1px;
    background-color: #c0dcf3;
    border: 1px solid #90c8f6;
    color: #505050;
}

/* QListView normal item */
QListView::item:!selected:hover
{
    background: transparent;
}
